<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
  {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
  <link rel="stylesheet" href="/styles/gameStyles.css" media="screen" title="no title" charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">

  <title>Home Page</title>
</head>

<body>

      <div class="header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <iframe src="https://giphy.com/embed/3o6ZsUUMA1mhMthxwQ" id="small-logo" href="#"></iframe>

            <h5 class="siteTitle">Next Venture</h5>

            <a href="/index.html">Home <span class="sr-only">(current)</span></a>

            <a href="/login.html">Log In <span class="sr-only">(current)</span></a>

            <a href="/preferences">Preferences<span class="sr-only">(current)</span></a>

            <a href="/about-us.html">About Us<span class="sr-only">(current)</span></a>


            <a href="/logout">Log Out <span class="sr-only">(current)</span></a>


    </div>
    </div>


  {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>
