<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>You need to login first</h2>
            <img src="../public/images/login.png" alt="login-meme" style="width: 400px; height:300px;">
        <a href="/login" style="padding: 5px; color:brown;">LOGIN</a>
        </div>
    </div>
</div>