<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div id="signPrompt" class="container">
    <div class="signPromptRow row">
        <div class="col-12">
            <h2>You need to login or signup first</h2>
            <img src="./images/login.png" alt="login-meme" style="width: 400px; height:300px;">
        </div>
    </div>

    <div class="signPromptRow row">
        <div class="col-12">
            <a class="btn btn-block" href="/login.html" id="promptLogin">LOGIN</a>
        </div>
    </div>



</div>